<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Projet Facture</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>

	
<ul id="menu_horizontal">
<li class="bouton_facture"><a href="#"><alt="FACTURE" />FACTURE</a></li>
<li class="bouton_gauche"><a href="#"><alt=CLIENT" />CLIENT</a></li>
<li class="bouton_gauche"><a href="#"><alt="DEVIS" />DEVIS</a></li>
<li class="bouton_gauche"><a href="#"><alt="ARTISAN" />ARTISAN</a></li>
</ul>

	</br><HR>

	<input id="searchbar" onkeyup="Rechercher une facture()" type="text"
    name="search" placeholder="Rechercher une facture &ensp; &ensp;	&#x1F50D;" style=
	"width: 210px; height: 20px;" font size="+3">
		            <input type="button" value="+">

	<HR>
<table border="1" cellpadding="5" cellspacing="10">
   <tr>
       <td><input placeholder="Prénom Client">
	   <td><input placeholder="Date Du Service">
	   <td rowspan="2"><input type="button" value="editer"style="height:10px width:150px">
	   <td rowspan="2"><input type="button" value="ajouter">
	   <td rowspan="2"><input type="button" value="modifier">



   </tr>
   <tr>
       <td><input placeholder="Nom Client">
	   <td><input placeholder="Date De Création">
   </tr>
</table>

	<HR>

<table border="1" cellpadding="5" cellspacing="10">
   <tr>
       <td>Nom Client</td>
       <td>Date De Création</td>
	   <td rowspan="2"><img src="pb.webp" width="40" height="40"</td>
	   <td rowspan="2"><img src="img.webp" width="40" height="40"</td>

   </tr>
   <tr>
       <td>Prénom Client</td>
       <td>Date Du Service</td>
   </tr>
</table>

  </body>
<div class="scroller"></div>
</html>
